

body{
  margin: 0;
  background-image:url('/images/familywallet.jpg');
  background-size: cover;
  /*background-size: contain;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left:10px;


}
.test{
  background-color: #000033;
  opacity: 1.0;
  margin-left: 60px;
  width:70%;
  margin-top: 0px;

}

.box{
  background-color: #ee8811;
  opacity: 0.6;
  width:80%;
}

.box-1{
  /*background-color: #ee8811;
  opacity: 0.6;
  width:15%;
  float: right;
  margin-right: 50px;
  padding: 0px;
  padding-top: 5px;
  margin-top: 30px;*/
}

.box-2{
  background-color: #ee8811;

  opacity: 0.6;
  width:15%;
  float: center;
  margin-left: 350px;
  padding-top: 1px;
  margin-top: 15px;
}

.nav{
  width:80%;
  background-color: #000033;
  height: 130px;
  margin-top: 0px;
  opacity: 0.6;

}

ul{
  list-style: none;
  padding: 10px;
  margin: 10;
  position: absolute;

}

li{
  float: left;
  margin-top: 30px;
  margin-left: 50px;
}

a{
  width: 150px;
  color: white;
  display: block;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding-left: 10px
  padding: 10px;
  border-radius: 10px;
  font-family: Arial;
  font-weight: bold;

}

a:hover{
  background:#669901;
  transition:0.6s;

}

p{
  font-size: 40px;

}
