/*body {
 background-color: white;

 background-position: right;
 color: white;
 margin: 20px;
 background-size: 30%;
 background-repeat: no-repeat;
 background-position: center;
 display: inline-block;
 color: black;
 font-family: 'Merriweather', serif;
 padding: 0px;
 margin-top: 10px;
 position: fixed;

}



* {
  margin: 12px;
  padding: 0px;
}




h1 {

  color: black;
}

.box {
  display:grid;
  width: 200px;
  height: 400px;
  background: grey;
  color: black;
  padding-top: 70px;
}

#two {
  position: relative;
  top: 300px;
  left: 80px;
  background: grey;
  shape-inside: circle();
}

.test {
  float: left;
  width: auto;
}

.test1 {
  float: right;
  width: 20%;
}*/
