



<h1> </h1>


  <p>Credit in the entire WALLET <%= Account.credit %></p>


<div class="box" id="two">
    <p><a href="/accounts">YOUR FAMILY WALLET</a></p>

    <hr/>


    <p><a href="/accounts/new_account">New Account</a></p>

    <hr/>

    <p><a href="/transactions">ALL Transactions of the FAMILY WALLET</a></p>

    <hr/>




    <p><a href="/tags">ALL tags IN THE FAMILY WALLET</a></p>



</div>


      <hr/>


<a class="btn btn--action" href="/transactions/new_transaction">New Transaction</a
