<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FAMILY WALLET LALA</title>
      <link rel="stylesheet" type= "text/css" href="/style.css" />
  </head>
  <body>
  <p><%= DateTime.now.strftime("%d/%m/%Y %H:%M") %></p>
<header>
  
</header>
<div>

</div>



   <%= yield %>
  </body>
</html>
