<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FAMILY WALLET LALA</title>
      <!-- <link rel="stylesheet" type= "text/css" href="/style.css" /> -->
  </head>
  <body>
  <h1><%= DateTime.now.strftime("%d/%m/%Y %H:%M") %></h1>

<div>

</div>



   <%= yield %>
  </body>
</html>
