<h1>  <a href="/index">HomePage</a></p> </h1>

<h1>new account</h1>



<!-- que es exactamente el action? -->
<form action="/accounts" method= "POST">

  <label for="type-field">TYPE:</label>
  <select name="type" id="type_field"/>

      <option value= <%="savings" %>>Savings</option>
      <option value= <%="personal" %>>Personal</option>
      <option value= <%="family" %>>Family</option>







          </select>






  <label for="credit-field">CREDIT:</label>
  <input type="text" name="credit" id="first-name-field"/>


  <label for="first-name-field">First_name:</label>
  <input type="text" name="holder_name" id="first-name-field"/>

  <label for="last-name-field">Last_name:</label>
  <input type="text" name="holder_last_name" id="first-name-field"/>


  <label for="account_number">Account Number :</label>
  <input type="text" name="account_number" id="account_number_filed"/>

   <input class="btn btn--action" type='submit' value="Submit">




 </form>
