
<h1>  <a href="/index">HomePage</a></p> </h1>




<h1>this account</h1>

<div class="box">



<p>First Name: <%= @accounts.holder_name %></p>
<p>Last Name: <%= @accounts.holder_last_name %></p>
<p>Account Number: <%= @accounts.account_number %></p>
<p>Type: <%= @accounts.type %></p>
</div>
