
<h1>  <a href="/index">HomePage</a></p> </h1>

<h1>this transaction</h1>





<div class="box">



<p>Date of Transaction: <%= @transactions.date_of_transaction %></p>
<p>Type: <%= @transactions.type %></p>
<p>Amount: <%= @transactions.quantity %></p>

</div>


<nav>
  <ul>

    <form action="/transactions/<%= @transactions.id %>/transaction_edit" method= "POST">
    <input type="submit"   value="edit"/>
    </form>

  


  </ul>
