
<h1>  <a href="/index">HomePage</a></p> </h1>


<h2>TAGS</h2>


<% for tag in @tags do %>


    <p> color: <%=  tag.color %> </p>
      <p> type: <%= tag.type %></p>
      <p> id: <%= tag.id %></p>
    <hr/>
<% end %>
