
<h1>  <a href="/index">HomePage</a> </h1>
<div class="box">


<h2>TAGS</h2>


<% for tag in @tags do %>



      <p> <a href="/transactions/transactions_by_tag/<%= tag.id %>"><%= tag.color %></a></p>
    <hr/>
<% end %>


</div>
