
<h1>  <a href="/index">HomePage</a></p> </h1>
<div class="box">


<h2>TAGS</h2>


<% for tag in @tags do %>


    <p> color: <%=  tag.color %> </p>
      <p> type: <%= tag.type %></p>
      <p> id: <a href="/transactions/transactions_by_tag/<%= tag.id %>"><%= tag.id %></a></p>
    <hr/>
<% end %>


</div>
